<div class="container">
  <form [formGroup]="recipeForm" (ngSubmit)="handleSubmit()">
    <div class="row">
      <div class="col-md">
        <app-recipe-thumbnail
          [recipe]="recipe"
          size="orginal"
        ></app-recipe-thumbnail>
        <h3>{{ "recipeDetails" | translate }}</h3>
        <div class="form-group">
          <label for="name">{{ "recipeName" | translate }}</label>
          <input
            type="text"
            id="name"
            class="add-form-input form-control"
            formControlName="name"
            placeholder="{{ 'recipeName' | translate }}"
          />
        </div>
        <div class="form-group">
          <label for="preparationTime">{{
            "preparationTime" | translate
          }}</label>
          <input
            id="preparationTime"
            type="text"
            class="add-form-input form-control"
            formControlName="preparationTime"
            placeholder="{{ 'preparationTime' | translate }}"
          />
        </div>
        <div class="form-group">
          <label for="description">{{ "recipeDescription" | translate }}</label>
          <textarea
            autosize
            id="description"
            type="text"
            class="add-form-input form-control"
            formControlName="description"
            placeholder="{{ 'recipeDescription' | translate }}"
          ></textarea>
        </div>
      </div>

      <div formArrayName="ingredients" class="form-group col col-md">
        <h3>{{ "ingredients" | translate }}</h3>

        <div *ngFor="let ingredient of ingredients.controls; let i = index">
          <div [formGroupName]="i" class="row">
            <div class="col col-xs-6">
              <input
                type="text"
                class="edit-form-input form-control"
                formControlName="quantity"
                placeholder="{{ 'ingredient.quantity' | translate }}"
              />
            </div>
            <div class="col col-xs-6">
              <input
                type="text"
                class="edit-form-input form-control"
                formControlName="name"
                placeholder="{{ 'ingredient.name' | translate }}"
              />
            </div>
          </div>
        </div>
        <button
          class="btn btn-outline-warning"
          type="button"
          (click)="addIngredient()"
        >
          {{ "addIngredient" | translate }}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col col-md">
        <div formArrayName="preparingSteps" class="form-group">
          <h3>{{ "preparingSteps" | translate }}</h3>

          <div
            *ngFor="let preparingStep of preparingSteps.controls; let i = index"
          >
            <textarea
              autosize
              [minRows]="1"
              type="text"
              class="edit-form-input form-control"
              [formControlName]="i"
              placeholder="{{ 'preparingStep' | translate }} {{ i + 1 }}"
            >
            </textarea>
          </div>

          <button
            class="btn btn-outline-warning"
            type="button"
            (click)="addPreparingStep()"
          >
            {{ "addPreparingStep" | translate }}
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-primary edit-form-button" type="submit">
      {{ "submit" | translate }}
    </button>
    <button
      class="btn btn-outline-secondary edit-form-button"
      type="button"
      (click)="handleCancelButton()"
    >
      {{ "cancel" | translate }}
    </button>
  </form>
</div>
