<div class="container">
  <form [formGroup]="recipeForm" (ngSubmit)="handleSubmit()">
    <div class="row">
      <div class="col-md">
        <app-recipe-thumbnail
          [recipe]="recipe"
          size="orginal"
        ></app-recipe-thumbnail>
        <h3>Recipe details</h3>
        <mat-form-field class="edit-form-input">
          <mat-label>Recipe Name</mat-label>
          <input matInput formControlName="name" placeholder="Recipe name" />
        </mat-form-field>
        <mat-form-field class="edit-form-input">
          <mat-label>Preparation time</mat-label>
          <input
            matInput
            formControlName="preparationTime"
            placeholder="Preparation time"
          />
        </mat-form-field>
        <mat-form-field class="edit-form-input">
          <mat-label>Description</mat-label>
          <textarea
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            matInput
            formControlName="description"
            placeholder="Description"
          ></textarea>
        </mat-form-field>
      </div>

      <div formArrayName="ingredients" class="form-group col col-md">
        <h3>Ingredients</h3>

        <div *ngFor="let ingredient of ingredients.controls; let i = index">
          <div [formGroupName]="i" class="row">
            <div class="col col-xs-6">
              <mat-form-field class="edit-form-input">
                <mat-label>Quantity</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="quantity"
                  placeholder="1 tbsp"
                />
              </mat-form-field>
            </div>
            <div class="col col-xs-6">
              <mat-form-field class="edit-form-input">
                <mat-label>Quantity</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  placeholder="brown sugar"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <button
          type="button"
          color="accent"
          mat-raised-button
          (click)="addIngredient()"
        >
          Add Ingredient
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col col-md">
        <div formArrayName="preparingSteps" class="form-group">
          <h3>Preparing Steps</h3>

          <div
            *ngFor="let preparingStep of preparingSteps.controls; let i = index"
          >
            <mat-form-field class="edit-form-input">
              <textarea
                autosize
                [minRows]="1"
                matInput
                type="text"
                [formControlName]="i"
                placeholder="Step {{ i + 1 }}"
              ></textarea>
            </mat-form-field>
          </div>
          <button
            type="button"
            color="accent"
            mat-raised-button
            (click)="addPreparingStep()"
          >
            Add Step
          </button>
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="edit-form-button"
      type="submit"
    >
      Submit
    </button>
    <button
      type="button"
      mat-raised-button
      class="edit-form-button"
      (click)="handleCancelButton()"
    >
      Cancel
    </button>
  </form>
</div>
