<div class="container">
  <form [formGroup]="recipeForm" (ngSubmit)="handleSubmit()">
    <div class="row">
      <div class="col-md">
        <app-recipe-thumbnail
          [recipe]="recipe"
          size="orginal"
        ></app-recipe-thumbnail>
        <h3>{{ "recipeDetails" | translate }}</h3>
        <mat-form-field class="edit-form-input">
          <mat-label>{{ "recipeName" | translate }}</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="{{ 'recipeName' | translate }}"
          />
        </mat-form-field>
        <mat-form-field class="edit-form-input">
          <mat-label>{{ "preparationTime" | translate }}</mat-label>
          <input
            matInput
            formControlName="preparationTime"
            placeholder="{{ 'preparationTime' | translate }}"
          />
        </mat-form-field>
        <mat-form-field class="edit-form-input">
          <mat-label>{{ "recipeDescription" | translate }}</mat-label>
          <textarea
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            matInput
            formControlName="description"
            placeholder="{{ 'recipeDescription' | translate }}"
          ></textarea>
        </mat-form-field>
      </div>

      <div formArrayName="ingredients" class="form-group col col-md">
        <h3>{{ "ingredients" | translate }}</h3>

        <div *ngFor="let ingredient of ingredients.controls; let i = index">
          <div [formGroupName]="i" class="row">
            <div class="col col-xs-6">
              <mat-form-field class="edit-form-input">
                <mat-label>{{ "ingredient.quantity" | translate }}</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="quantity"
                  placeholder="{{ 'ingredient.quantity' | translate }}"
                />
              </mat-form-field>
            </div>
            <div class="col col-xs-6">
              <mat-form-field class="edit-form-input">
                <mat-label>{{ "ingredient.name" | translate }}</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  placeholder="{{ 'ingredient.name' | translate }}"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <button
          type="button"
          color="accent"
          mat-raised-button
          (click)="addIngredient()"
        >
          {{ "addIngredient" | translate }}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col col-md">
        <div formArrayName="preparingSteps" class="form-group">
          <h3>{{ "preparingSteps" | translate }}</h3>

          <div
            *ngFor="let preparingStep of preparingSteps.controls; let i = index"
          >
            <mat-form-field class="edit-form-input">
              <textarea
                autosize
                [minRows]="1"
                matInput
                type="text"
                [formControlName]="i"
                placeholder="{{ 'preparingStep' | translate }} {{ i + 1 }}"
              ></textarea>
            </mat-form-field>
          </div>
          <button
            type="button"
            color="accent"
            mat-raised-button
            (click)="addPreparingStep()"
          >
            {{ "addPreparingStep" | translate }}
          </button>
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="edit-form-button"
      type="submit"
    >
      {{ "submit" | translate }}
    </button>
    <button
      type="button"
      mat-raised-button
      class="edit-form-button"
      (click)="handleCancelButton()"
    >
      {{ "cancel" | translate }}
    </button>
  </form>
</div>
