<nav class="navbar navbar-expand-md navbar-dark bg-warning" *ngIf="isLoggedIn">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"
    ><mat-icon>outdoor_grill</mat-icon></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link text-light"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/add-recipe"
          routerLinkActive="active"
          >{{ "addRecipe" | translate }}
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/random"
          routerLinkActive="active"
          >{{ "randomRecipe" | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/last"
          routerLinkActive="active"
          >{{ "lastRecipe" | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLinkActive="active"
          (click)="handleChangeLanguage()"
          >{{ "changeLanguage" | translate }}</a
        >
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a
          class="nav-link text-light"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          routerLink="/login"
          routerLinkActive="active"
          >{{ "login" | translate }}</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link text-light"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          (click)="handleLogOut()"
          routerLink="/login"
          routerLinkActive="active"
          >{{ "logout" | translate }}</a
        >
      </li>
    </ul>
  </div>
</nav>
