<div class="container" *ngIf="!edit && recipe">
  <div class="row">
    <div class="col-md">
      <app-recipe-thumbnail
        [recipe]="recipe"
        size="orginal"
      ></app-recipe-thumbnail>
      <mat-card class="mat-elevation-z8">
        {{ recipe.description }}
      </mat-card>
    </div>
    <div class="col-md">
      <div class="mb-md-5">
        <button
          mat-raised-button
          color="accent"
          class="recipe-button"
          (click)="handleEditButton()"
        >
          {{ "edit" | translate }} <mat-icon>edit</mat-icon>
        </button>
        <div class="override-button">
          <button
            mat-raised-button
            color="warn"
            class="recipe-button"
            (click)="handleDelete()"
          >
            {{ "delete" | translate }}
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <h2>{{ "ingredients" | translate }}</h2>
      <table
        mat-table
        [dataSource]="recipe.ingredients"
        class="mat-elevation-z8 recipe-table"
      >
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>
            {{ "ingredient.quantity" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ "ingredient.name" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <mat-card class="mat-elevation-z8 recipe-card">
        <mat-card-title>{{ "preparing" | translate }}</mat-card-title>
        <div
          class="row"
          *ngFor="let preparingStep of recipe.preparingSteps; let i = index"
        >
          <div class="col">{{ i + 1 }} {{ preparingStep }}</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="container" *ngIf="edit">
  <app-recipe-edit [(recipe)]="recipe" [(edit)]="edit"></app-recipe-edit>
</div>
