.recipe-button {
  margin: 5px;
}

.recipe-form-input {
  margin-bottom: 5px;
}

.recipe-table {
  width: 100%;
  margin: 0;
}

.recipe-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.override-button {
  display: inline;
}
.override-button button {
  background-color: yellow;
}
