<div class="login-background">
  <div class="login-card">
    <div class="row logo">
      <> Recipes App
    </div>
    <div class="row login-label">
      <!-- {{ "login" | translate }} -->
      Log Into My Account
    </div>
    <form
      #myform="ngForm"
      (ngSubmit)="login(myform)"
      class="form form-register"
    >
      <div class="row">
        <mat-form-field
          appearance="outline"
          class="login-input input-test"
          [hideRequiredMarker]="true"
        >
          <mat-label>{{ "email-label" | translate }}</mat-label>
          <input
            matInput
            name="email"
            id="register-email"
            type="text"
            class="form-input"
            placeholder="Example@email.com"
            ngModel
            required
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field
          appearance="outline"
          class="login-input"
          [hideRequiredMarker]="true"
        >
          <mat-label>{{ "password-label" | translate }}</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            name="password"
            id="register-password"
            type="password"
            class="form-input"
            placeholder="Password"
            ngModel
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            tabindex="-1"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col col-6 login-button">
          <div class="override-button">
            <button
              class="login-button"
              mat-raised-button
              type="submit"
              color="primary"
              class="login-input"
            >
              {{ "login" | translate }}
            </button>
          </div>
        </div>
        <div class="col col-6 login-links">
          <a routerLink="/register" routerLinkActive="active"
            >Don't have an account?</a
          >

          <br />
          <a routerLink="/forget-password" routerLinkActive="active"
            >Forgot password?</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
