@import "./../../../scss/login-styles.scss";

.login-links {
  text-align: right;
  padding: 0;
  font-size: $gray-font-size;
}

.login-links a {
  text-decoration: none;
}

.login-links :hover {
  color: darken($gray-color, 50%);
}

.login-links a {
  color: $gray-color;
}

.override-button {
  display: inline;
}
.override-button button {
  background-color: rgb(0, 185, 126);
  min-height: 3em;
}

input {
  color: $gray-color;
  font-size: $gray-font-size;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}
