<div class="container">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md">
        <h3>{{ "recipeDetails" | translate }}</h3>
        <input
          type="text"
          id="name"
          class="add-form-input form-control"
          formControlName="name"
          placeholder="{{ 'recipeName' | translate }}"
        />
        <div
          *ngIf="
            form.name.invalid &&
            (form.name.dirty || form.name.touched || submitted)
          "
          class="alert alert-danger"
        >
          {{ "validation.name" | translate }}
        </div>
        <input
          type="text"
          class="add-form-input form-control"
          formControlName="preparationTime"
          placeholder="{{ 'preparationTime' | translate }}"
        />
        <div
          *ngIf="
            form.preparationTime.invalid &&
            (form.preparationTime.dirty ||
              form.preparationTime.touched ||
              submitted)
          "
          class="alert alert-danger"
        >
          {{ "validation.preparationTime" | translate }}
        </div>
        <div class="add-form-input custom custom-file">
          <input
            type="file"
            name="custom-file"
            class="custom-file-input"
            formControlName="fileUpload"
            (change)="handleFileUpload($event.target.files)"
          />
          <label for="custom-file" class="custom-file-label">
            <div *ngIf="fileToUpload as file; else elseBlock">
              {{ file.name }}
            </div>
            <ng-template #elseBlock>{{ fileMessage }}</ng-template>
          </label>
        </div>
        <div
          *ngIf="
            form.fileUpload.invalid &&
            (form.fileUpload.dirty || form.fileUpload.touched || submitted)
          "
          class="alert alert-danger"
        >
          {{ "validation.image" | translate }}
        </div>
        <textarea
          autosize
          type="text"
          class="add-form-input form-control"
          formControlName="description"
          placeholder="{{ 'recipeDescription' | translate }}"
        ></textarea>
        <div
          *ngIf="
            form.description.invalid &&
            (form.description.dirty || form.description.touched || submitted)
          "
          class="alert alert-danger"
        >
          {{ "validation.description" | translate }}
        </div>
      </div>

      <div formArrayName="ingredients" class="form-group col col-md">
        <h3>{{ "ingredients" | translate }}</h3>

        <div *ngFor="let ingredient of ingredients.controls; let i = index">
          <div [formGroupName]="i" class="row">
            <div class="col col-xs-6">
              <input
                type="text"
                class="add-form-input form-control"
                formControlName="quantity"
                placeholder="{{ 'ingredient.quantity' | translate }}"
              />
            </div>
            <div class="col col-xs-6">
              <input
                type="text"
                class="add-form-input form-control"
                formControlName="name"
                placeholder="{{ 'ingredient.name' | translate }}"
              />
            </div>
          </div>
        </div>
        <button
          class="btn btn-outline-warning"
          type="button"
          (click)="addIngredient()"
        >
          {{ "addIngredient" | translate }}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col col-md">
        <div formArrayName="preparingSteps" class="form-group">
          <h3>{{ "preparingSteps" | translate }}</h3>

          <div
            *ngFor="let preparingStep of preparingSteps.controls; let i = index"
          >
            <textarea
              autosize
              [minRows]="1"
              type="text"
              class="add-form-input form-control"
              [formControlName]="i"
              placeholder="{{ 'preparingStep' | translate }} {{ i + 1 }}"
            >
            </textarea>

            <div
              *ngIf="
                preparingStep.invalid &&
                (preparingStep.dirty || preparingStep.touched || submitted)
              "
              class="alert alert-danger"
            >
              {{ "validation.step" | translate }}
            </div>
          </div>

          <button
            class="btn btn-outline-warning"
            type="button"
            (click)="addPreparingStep()"
          >
            {{ "addPreparingStep" | translate }}
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">
      {{ "submit" | translate }}
    </button>
  </form>
</div>
