@import url("./../login.component.scss");
$source-sans-pro: "Source Sans Pro", sans-serif;
$blue-color: #2e98ee;

.login-background {
  background-color: rgb(247, 247, 247);
  font-family: $source-sans-pro;
  height: 100%;
  width: 100%;
  margin-top: 0;
}

.input-2fa {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.col-2 {
  padding: 5px;
}
.login-2fa-label {
  font-size: 1.3em;
  height: 1.3em;
  margin-bottom: 20px;
}
:host ::ng-deep .mat-form-field-outline {
  background-color: white;
}

.login-back {
  color: $blue-color;
}

.login-back :hover {
  color: darken($blue-color, 30%);
}
.login-back a {
  text-decoration: none;
}
